.base-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  justify-content: center;
  border-style: groove;
  background-color: #264653;
}

.base-container .header {
  font-size: 24px;
  margin-top: 2em;
}

.base-container .form {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.base-container .form .form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
}

.base-container .form .form-group label {
  font-size: 20px;
}

.base-container .form .form-group input {
  margin-top: 6px;
  min-width: 18em;
  height: 37px;
  padding: 0px 10px;
  font-size: 16px;
  background-color: #edf6f9;
  border: 0;
  border-radius: 4px;
  margin-bottom: 31px;
}

.base-container .footer {
  margin-top: 3em;
}

.base-container .footer .btn {
  font-size: 21px;
  padding: 5px 20px;
  border: 0;
  background-color: #fb5607;
  color: #fff;
  border-radius: 3px;
  margin-bottom: 2em;
}

.base-container .footer .btn:hover {
  cursor: pointer;
}

table {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  text-align: center;
  background: #fafafa;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 12px 12px 0 0;
  overflow: hidden;
}

th,
td {
  padding: 10px 12px;
}

th {
  background: #ba68c8;
  color: #fafafa;
}

#btn-upd {
  height: 25px;
  background-color: green;
  padding: 0 5px 0 5px;
  text-align: center;
  color: #fff;
  border: 1px solid green;
}

#btn-upd:hover {
  cursor: pointer;
}

#btn-del {
  height: 25px;
  padding: 0 5px 0 5px;
  background-color: #ff0000;
  color: #fff;
  border: 1px solid #ff0000;
}

#btn-del:hover {
  cursor: pointer;
}
